--
-- PostgreSQL database dump
--

\restrict FtIyVfGXUGcraYRnC8J6iTT2FjH2njxdma70u1ygWf3Mwoawum3qaw9tD43sz85

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg12+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: currency; Type: TYPE; Schema: public; Owner: nextstep
--

CREATE TYPE public.currency AS ENUM (
    'VND',
    'USD'
);


ALTER TYPE public.currency OWNER TO nextstep;

--
-- Name: job_level; Type: TYPE; Schema: public; Owner: nextstep
--

CREATE TYPE public.job_level AS ENUM (
    'intern',
    'junior',
    'mid',
    'senior',
    'lead'
);


ALTER TYPE public.job_level OWNER TO nextstep;

--
-- Name: job_status; Type: TYPE; Schema: public; Owner: nextstep
--

CREATE TYPE public.job_status AS ENUM (
    'active',
    'closed',
    'draft'
);


ALTER TYPE public.job_status OWNER TO nextstep;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO nextstep;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.companies (
    company_id integer NOT NULL,
    name character varying(255) NOT NULL,
    website character varying(500),
    industry character varying(255),
    size character varying(100),
    location character varying(255),
    logo_url character varying(1000)
);


ALTER TABLE public.companies OWNER TO nextstep;

--
-- Name: companies_company_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.companies_company_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.companies_company_id_seq OWNER TO nextstep;

--
-- Name: companies_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.companies_company_id_seq OWNED BY public.companies.company_id;


--
-- Name: cv_analysis_results; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.cv_analysis_results (
    analysis_id integer NOT NULL,
    job_job_id integer NOT NULL,
    cv_filename character varying(255),
    cv_text_excerpt text,
    extracted_profile_json json NOT NULL,
    job_context_json json NOT NULL,
    job_match_json json NOT NULL,
    gap_analysis_json json NOT NULL,
    roadmap_json json NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.cv_analysis_results OWNER TO nextstep;

--
-- Name: cv_analysis_results_analysis_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.cv_analysis_results_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cv_analysis_results_analysis_id_seq OWNER TO nextstep;

--
-- Name: cv_analysis_results_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.cv_analysis_results_analysis_id_seq OWNED BY public.cv_analysis_results.analysis_id;


--
-- Name: cv_skills; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.cv_skills (
    id integer NOT NULL,
    analysis_id integer NOT NULL,
    skill_id integer NOT NULL,
    confidence double precision DEFAULT 0.5 NOT NULL,
    source character varying(20) DEFAULT 'regex'::character varying NOT NULL
);


ALTER TABLE public.cv_skills OWNER TO nextstep;

--
-- Name: cv_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.cv_skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cv_skills_id_seq OWNER TO nextstep;

--
-- Name: cv_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.cv_skills_id_seq OWNED BY public.cv_skills.id;


--
-- Name: entity_embeddings; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.entity_embeddings (
    embedding_id bigint NOT NULL,
    entity_type character varying(32) NOT NULL,
    entity_id bigint NOT NULL,
    embedding public.vector(1536) NOT NULL,
    embedding_model character varying(100) NOT NULL,
    embedding_dimension integer DEFAULT 1536 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.entity_embeddings OWNER TO nextstep;

--
-- Name: entity_embeddings_embedding_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.entity_embeddings_embedding_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entity_embeddings_embedding_id_seq OWNER TO nextstep;

--
-- Name: entity_embeddings_embedding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.entity_embeddings_embedding_id_seq OWNED BY public.entity_embeddings.embedding_id;


--
-- Name: job_skills; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.job_skills (
    job_skill_id integer NOT NULL,
    job_job_id integer NOT NULL,
    skill_skill_id integer NOT NULL,
    importance double precision NOT NULL,
    evidence_snippet text,
    CONSTRAINT ck_job_skills_importance_tier CHECK ((importance = ANY (ARRAY[(1.0)::double precision, (2.0)::double precision, (3.0)::double precision])))
);


ALTER TABLE public.job_skills OWNER TO nextstep;

--
-- Name: job_skills_job_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.job_skills_job_skill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_skills_job_skill_id_seq OWNER TO nextstep;

--
-- Name: job_skills_job_skill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.job_skills_job_skill_id_seq OWNED BY public.job_skills.job_skill_id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.jobs (
    job_id integer NOT NULL,
    company_company_id integer NOT NULL,
    title character varying(255) NOT NULL,
    level public.job_level,
    location character varying(255),
    salary_min integer,
    salary_max integer,
    currency public.currency,
    description_raw text NOT NULL,
    description_clean text,
    source_url character varying(1000) NOT NULL,
    source_site character varying(100) NOT NULL,
    posted_at timestamp with time zone,
    scraped_at timestamp with time zone NOT NULL,
    status public.job_status NOT NULL
);


ALTER TABLE public.jobs OWNER TO nextstep;

--
-- Name: jobs_job_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.jobs_job_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_job_id_seq OWNER TO nextstep;

--
-- Name: jobs_job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.jobs_job_id_seq OWNED BY public.jobs.job_id;


--
-- Name: skill_courses; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.skill_courses (
    id integer NOT NULL,
    skill_id integer NOT NULL,
    platform character varying(50),
    title character varying(255) NOT NULL,
    url text,
    duration character varying(50),
    level character varying(20),
    duration_hours integer
);


ALTER TABLE public.skill_courses OWNER TO nextstep;

--
-- Name: skill_courses_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.skill_courses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skill_courses_id_seq OWNER TO nextstep;

--
-- Name: skill_courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.skill_courses_id_seq OWNED BY public.skill_courses.id;


--
-- Name: skill_gaps; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.skill_gaps (
    id integer NOT NULL,
    analysis_id integer NOT NULL,
    skill_id integer NOT NULL,
    priority_score double precision DEFAULT 0.0 NOT NULL,
    gap_reason text
);


ALTER TABLE public.skill_gaps OWNER TO nextstep;

--
-- Name: skill_gaps_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.skill_gaps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skill_gaps_id_seq OWNER TO nextstep;

--
-- Name: skill_gaps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.skill_gaps_id_seq OWNED BY public.skill_gaps.id;


--
-- Name: skills; Type: TABLE; Schema: public; Owner: nextstep
--

CREATE TABLE public.skills (
    skill_id integer NOT NULL,
    name character varying(255) NOT NULL,
    category character varying(100),
    aliases character varying[] NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.skills OWNER TO nextstep;

--
-- Name: skills_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: nextstep
--

CREATE SEQUENCE public.skills_skill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_skill_id_seq OWNER TO nextstep;

--
-- Name: skills_skill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nextstep
--

ALTER SEQUENCE public.skills_skill_id_seq OWNED BY public.skills.skill_id;


--
-- Name: companies company_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.companies ALTER COLUMN company_id SET DEFAULT nextval('public.companies_company_id_seq'::regclass);


--
-- Name: cv_analysis_results analysis_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_analysis_results ALTER COLUMN analysis_id SET DEFAULT nextval('public.cv_analysis_results_analysis_id_seq'::regclass);


--
-- Name: cv_skills id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_skills ALTER COLUMN id SET DEFAULT nextval('public.cv_skills_id_seq'::regclass);


--
-- Name: entity_embeddings embedding_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.entity_embeddings ALTER COLUMN embedding_id SET DEFAULT nextval('public.entity_embeddings_embedding_id_seq'::regclass);


--
-- Name: job_skills job_skill_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.job_skills ALTER COLUMN job_skill_id SET DEFAULT nextval('public.job_skills_job_skill_id_seq'::regclass);


--
-- Name: jobs job_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.jobs ALTER COLUMN job_id SET DEFAULT nextval('public.jobs_job_id_seq'::regclass);


--
-- Name: skill_courses id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_courses ALTER COLUMN id SET DEFAULT nextval('public.skill_courses_id_seq'::regclass);


--
-- Name: skill_gaps id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_gaps ALTER COLUMN id SET DEFAULT nextval('public.skill_gaps_id_seq'::regclass);


--
-- Name: skills skill_id; Type: DEFAULT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skills ALTER COLUMN skill_id SET DEFAULT nextval('public.skills_skill_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: nextstep
--

COPY public.alembic_version (version_num) FROM stdin;
c7d9e2a4f1b3
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: cv_analysis_results; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: cv_skills; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: entity_embeddings; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: job_skills; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: skill_courses; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: skill_gaps; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: nextstep
--



--
-- Name: companies_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.companies_company_id_seq', 5, true);


--
-- Name: cv_analysis_results_analysis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.cv_analysis_results_analysis_id_seq', 21, true);


--
-- Name: cv_skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.cv_skills_id_seq', 112, true);


--
-- Name: entity_embeddings_embedding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.entity_embeddings_embedding_id_seq', 35, true);


--
-- Name: job_skills_job_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.job_skills_job_skill_id_seq', 155, true);


--
-- Name: jobs_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.jobs_job_id_seq', 6, true);


--
-- Name: skill_courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.skill_courses_id_seq', 50, true);


--
-- Name: skill_gaps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.skill_gaps_id_seq', 255, true);


--
-- Name: skills_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nextstep
--

SELECT pg_catalog.setval('public.skills_skill_id_seq', 59, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: companies companies_name_key; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_name_key UNIQUE (name);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (company_id);


--
-- Name: cv_analysis_results cv_analysis_results_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_analysis_results
    ADD CONSTRAINT cv_analysis_results_pkey PRIMARY KEY (analysis_id);


--
-- Name: cv_skills cv_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_skills
    ADD CONSTRAINT cv_skills_pkey PRIMARY KEY (id);


--
-- Name: entity_embeddings entity_embeddings_entity_type_entity_id_embedding_model_key; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.entity_embeddings
    ADD CONSTRAINT entity_embeddings_entity_type_entity_id_embedding_model_key UNIQUE (entity_type, entity_id, embedding_model);


--
-- Name: entity_embeddings entity_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.entity_embeddings
    ADD CONSTRAINT entity_embeddings_pkey PRIMARY KEY (embedding_id);


--
-- Name: job_skills job_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_pkey PRIMARY KEY (job_skill_id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (job_id);


--
-- Name: jobs jobs_source_url_key; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_source_url_key UNIQUE (source_url);


--
-- Name: skill_courses skill_courses_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_courses
    ADD CONSTRAINT skill_courses_pkey PRIMARY KEY (id);


--
-- Name: skill_gaps skill_gaps_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_gaps
    ADD CONSTRAINT skill_gaps_pkey PRIMARY KEY (id);


--
-- Name: skills skills_name_key; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_name_key UNIQUE (name);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (skill_id);


--
-- Name: ix_companies_company_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_companies_company_id ON public.companies USING btree (company_id);


--
-- Name: ix_cv_analysis_results_analysis_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_cv_analysis_results_analysis_id ON public.cv_analysis_results USING btree (analysis_id);


--
-- Name: ix_cv_analysis_results_job_job_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_cv_analysis_results_job_job_id ON public.cv_analysis_results USING btree (job_job_id);


--
-- Name: ix_cv_skills_analysis_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_cv_skills_analysis_id ON public.cv_skills USING btree (analysis_id);


--
-- Name: ix_cv_skills_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_cv_skills_id ON public.cv_skills USING btree (id);


--
-- Name: ix_cv_skills_skill_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_cv_skills_skill_id ON public.cv_skills USING btree (skill_id);


--
-- Name: ix_job_skills_job_skill_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_job_skills_job_skill_id ON public.job_skills USING btree (job_skill_id);


--
-- Name: ix_jobs_job_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_jobs_job_id ON public.jobs USING btree (job_id);


--
-- Name: ix_skill_courses_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skill_courses_id ON public.skill_courses USING btree (id);


--
-- Name: ix_skill_courses_skill_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skill_courses_skill_id ON public.skill_courses USING btree (skill_id);


--
-- Name: ix_skill_gaps_analysis_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skill_gaps_analysis_id ON public.skill_gaps USING btree (analysis_id);


--
-- Name: ix_skill_gaps_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skill_gaps_id ON public.skill_gaps USING btree (id);


--
-- Name: ix_skill_gaps_skill_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skill_gaps_skill_id ON public.skill_gaps USING btree (skill_id);


--
-- Name: ix_skills_skill_id; Type: INDEX; Schema: public; Owner: nextstep
--

CREATE INDEX ix_skills_skill_id ON public.skills USING btree (skill_id);


--
-- Name: cv_analysis_results cv_analysis_results_job_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_analysis_results
    ADD CONSTRAINT cv_analysis_results_job_job_id_fkey FOREIGN KEY (job_job_id) REFERENCES public.jobs(job_id);


--
-- Name: cv_skills cv_skills_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_skills
    ADD CONSTRAINT cv_skills_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.cv_analysis_results(analysis_id);


--
-- Name: cv_skills cv_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.cv_skills
    ADD CONSTRAINT cv_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id);


--
-- Name: job_skills job_skills_job_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_job_job_id_fkey FOREIGN KEY (job_job_id) REFERENCES public.jobs(job_id);


--
-- Name: job_skills job_skills_skill_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_skill_skill_id_fkey FOREIGN KEY (skill_skill_id) REFERENCES public.skills(skill_id);


--
-- Name: jobs jobs_company_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_company_company_id_fkey FOREIGN KEY (company_company_id) REFERENCES public.companies(company_id);


--
-- Name: skill_courses skill_courses_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_courses
    ADD CONSTRAINT skill_courses_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id);


--
-- Name: skill_gaps skill_gaps_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_gaps
    ADD CONSTRAINT skill_gaps_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.cv_analysis_results(analysis_id);


--
-- Name: skill_gaps skill_gaps_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nextstep
--

ALTER TABLE ONLY public.skill_gaps
    ADD CONSTRAINT skill_gaps_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(skill_id);


--
-- PostgreSQL database dump complete
--

\unrestrict FtIyVfGXUGcraYRnC8J6iTT2FjH2njxdma70u1ygWf3Mwoawum3qaw9tD43sz85

